.header{
    flex-direction: column;
    min-height: 100vh;
    h1{
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 100px;
    }
    &_content{
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        &_left{
            width: 25%;
            form{
                background: $color_2;
                padding: 15px;
                border-radius: 6px;
                input{
                    width: 100%;
                    font-size: 1.2em;
                    background: none;
                    margin: 10px 0;
                    padding: 10px;
                    border-radius: 6px;
                    border: 2px solid $color_3;
                    color: $color_3;
                    transition: all 0.3s;
                    &::placeholder{
                        color: $color_3;
                    }
                    &[type="submit"]{
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                    &:hover{
                        background: $color_3;
                        color: $color_2;
                        &::placeholder{
                            color: $color_2;
                        }
                    }
                }
            }
        }
        &_right{
            width: 65%;
            ul{
                background: $color_2;
                padding: 15px;
                border-radius: 6px;
                height: 500px;
                overflow-y: scroll;
                overflow-x: hidden;
                li{
                    justify-content: space-between;
                    margin: 10px 0;
                    span{
                        font-size: 1.2em;
                        width: 85%;
                        overflow: hidden;
                    }
                    a{
                        width: 15%;
                        text-align: center;
                        font-size: 1.2em;
                        text-transform: uppercase;
                        padding: 10px 20px;
                        border-radius: 6px;
                        color: $color_2;
                        font-weight: 900;
                        transition: all 0.3s;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                    .delete{
                        background: $color_5;
                    }
                    .end{
                        background: $color_4;
                    }
                }
            }
        }
    }
    @media (max-width: 1050px){
        &_content{
            &_right{
                ul{
                    li{
                        span{
                            width: 65%;
                        }
                        a{
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 900px){
        &_content{
            align-items: center;
            flex-direction: column;
            &_left{
                width: 90%;
                margin-bottom: 50px;
            }
            &_right{
                width: 90%;
                ul{
                    height: 300px;
                    overflow-y: scroll;
                    li{
                        span{
                            width: 85%;
                        }
                        a{
                            width: 15%;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 750px){
        &_content{
            &_right{
                ul{
                    li{
                        span{
                            width: 65%;
                        }
                        a{
                            width: 35%;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 500px){
        &_content{
            &_right{
                width: 95%;
                ul{
                    li{
                        flex-direction: column;
                        span{
                            width: 100%;
                        }
                        a{
                            width: 100%;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}